.form-container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 400px;
  background-color: #0079FF;
  color: white;
}

.input {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  padding: 5px;
  width: 250px;
  color: white;
  background-color: transparent;
  font-size: 16px;
}

.input::placeholder {
  color: white;
  font-size: 16px;
}

.input:focus {
  border-bottom: 2px solid #FCD900;
}

.input:focus::placeholder {
  color: #FCD900;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  box-shadow: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  background-color: white;
  color: #0079FF;
  font-weight: bold;
  cursor: pointer;
}

.error-text {
  color: #FCD900;
  font-size: 16px;
}
