:root {
  --blue: #0079ff;
  --green: #36ae7c;
  --dark-green: #2a7b59;
  --red: #ff5959;
  --dark-red: #943636;
  --yellow: #fcd900;
}

.container {
  position: relative;
  min-height: 92vh;
  padding: 1rem;
}
