.container {
  padding: 1rem;
  height: 92vh;
  z-index: 100;
}

.title-container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #0079ff;
}
